.rootContainer {
    .introduce {
        font-size: 0.75rem;
    }

    .linkToEmail {
        margin-top: 2rem;
        a {
            font-size: 1rem;
            line-height: 1.19;
            display: flex;
            align-items: center;
            width: fit-content;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .image {
        margin-top: 2rem;
        max-width: 500px;
        height: auto;
    }

    .button {
        font-size: 1rem;
        line-height: 30px;
    }

    .content {
        margin-top: 2rem;
        .title {
            margin-bottom: 0.5rem;
            font-weight: 700;
        }

        .description {
            font-size: 0.75rem;
        }
    }
}
