.rootContainer {
    padding: 30px;
}

.container {
    padding: 30px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
}

.body {
    margin-bottom: 2rem;
}
